.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	 start body styles here 
}
/*

*{ border: 1px solid red;
}*/

.wrapper {
  background-image: url("images/superwoman.jpg");
  background-repeat:no-repeat;
  float: absolute;
 /* padding: 10px;*/
  overflow: hidden;


}

/*body{
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
}*/

.header:{
		background-color:mediumaquamarine;
		float: center;
		text-align: center;
		padding:0px 0;
		margin:0;
		margin-bottom: 0px;
		height: 0px;
	}

.content {
	font-family: 'Roboto', sans-serif;
	text-align:left;
	font-size:25px;
	font-weight:100;
	padding: 50px;
	width: 75%;
	float: left;
	overflow: hidden;
	
}

/*.header:{
		background-color:steelblue;
		float: center;
		text-align: absolute;
		padding:0px 0;
		margin:0;
		margin-bottom: 0px;
		height: 0px;
	}*/

.sidebar {
	/*background-color:mediumaquamarine;*/
	width:25%;
	height: 100%;
	float:right;
	padding: 5px;
	margin-top: 5px;
	font-family: sans-serif;
	/*background: #66cdaa; /* Old browsers */
background: -moz-linear-gradient(top,  #66cdaa 11%, #fd89d7 50%, #fd89d7 73%, #ff7cd8 86%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(11%,#66cdaa), color-stop(50%,#fd89d7), color-stop(73%,#fd89d7), color-stop(86%,#ff7cd8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #66cdaa 11%,#fd89d7 50%,#fd89d7 73%,#ff7cd8 86%);  Chrome10+,Safari5.1+ 
background: -o-linear-gradient(top,  #66cdaa 11%,#fd89d7 50%,#fd89d7 73%,#ff7cd8 86%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #66cdaa 11%,#fd89d7 50%,#fd89d7 73%,#ff7cd8 86%); /* IE10+ */
background: linear-gradient(to bottom,  #66cdaa 11%,#fd89d7 50%,#fd89d7 73%,#ff7cd8 86%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66cdaa', endColorstr='#ff7cd8',GradientType=0 ); /* IE6-9 */
*/
background: -moz-linear-gradient(-45deg,  rgba(245,246,246,0.03) 5%, rgba(245,246,246,0.03) 16%, rgba(245,246,246,0.05) 17%, rgba(102,205,170,0.28) 26%, rgba(189,233,218,1) 55%, rgba(255,255,255,1) 77%, rgba(245,246,246,1) 96%, rgba(245,246,246,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(5%,rgba(245,246,246,0.03)), color-stop(16%,rgba(245,246,246,0.03)), color-stop(17%,rgba(245,246,246,0.05)), color-stop(26%,rgba(102,205,170,0.28)), color-stop(55%,rgba(189,233,218,1)), color-stop(77%,rgba(255,255,255,1)), color-stop(96%,rgba(245,246,246,1)), color-stop(99%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(245,246,246,0.03) 5%,rgba(245,246,246,0.03) 16%,rgba(245,246,246,0.05) 17%,rgba(102,205,170,0.28) 26%,rgba(189,233,218,1) 55%,rgba(255,255,255,1) 77%,rgba(245,246,246,1) 96%,rgba(245,246,246,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(245,246,246,0.03) 5%,rgba(245,246,246,0.03) 16%,rgba(245,246,246,0.05) 17%,rgba(102,205,170,0.28) 26%,rgba(189,233,218,1) 55%,rgba(255,255,255,1) 77%,rgba(245,246,246,1) 96%,rgba(245,246,246,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(245,246,246,0.03) 5%,rgba(245,246,246,0.03) 16%,rgba(245,246,246,0.05) 17%,rgba(102,205,170,0.28) 26%,rgba(189,233,218,1) 55%,rgba(255,255,255,1) 77%,rgba(245,246,246,1) 96%,rgba(245,246,246,1) 99%); /* IE10+ */
background: linear-gradient(135deg,  rgba(245,246,246,0.03) 5%,rgba(245,246,246,0.03) 16%,rgba(245,246,246,0.05) 17%,rgba(102,205,170,0.28) 26%,rgba(189,233,218,1) 55%,rgba(255,255,255,1) 77%,rgba(245,246,246,1) 96%,rgba(245,246,246,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08f5f6f6', endColorstr='#f5f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



}

h1{
	background-color:mediumaquamarine;
				font-size: 70px;
				/*box-shadow:8px -8px 1px #5D5268;*/
				float:center;
				padding:5px;
				color:#fff;
				text-shadow: 3px 3px 3px #000;
				letter-spacing: -3px;
				font-family: sans-serif;
				text-indent: 250px;


				/*background: #66cdaa; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #66cdaa 42%, #fd89d7 77%, #fd89d7 83%, #ff7cd8 93%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(42%,#66cdaa), color-stop(77%,#fd89d7), color-stop(83%,#fd89d7), color-stop(93%,#ff7cd8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #66cdaa 42%,#fd89d7 77%,#fd89d7 83%,#ff7cd8 93%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #66cdaa 42%,#fd89d7 77%,#fd89d7 83%,#ff7cd8 93%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #66cdaa 42%,#fd89d7 77%,#fd89d7 83%,#ff7cd8 93%); /* IE10+ */
background: linear-gradient(135deg,  #66cdaa 42%,#fd89d7 77%,#fd89d7 83%,#ff7cd8 93%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66cdaa', endColorstr='#ff7cd8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
*/
background: -moz-linear-gradient(-45deg,  rgba(245,246,246,0.03) 2%, rgba(245,246,246,0.03) 11%, rgba(188,230,216,0.03) 17%, rgba(102,205,170,0.16) 26%, rgba(205,221,219,1) 82%, rgba(221,223,227,1) 91%, rgba(245,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(2%,rgba(245,246,246,0.03)), color-stop(11%,rgba(245,246,246,0.03)), color-stop(17%,rgba(188,230,216,0.03)), color-stop(26%,rgba(102,205,170,0.16)), color-stop(82%,rgba(205,221,219,1)), color-stop(91%,rgba(221,223,227,1)), color-stop(100%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(245,246,246,0.03) 2%,rgba(245,246,246,0.03) 11%,rgba(188,230,216,0.03) 17%,rgba(102,205,170,0.16) 26%,rgba(205,221,219,1) 82%,rgba(221,223,227,1) 91%,rgba(245,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(245,246,246,0.03) 2%,rgba(245,246,246,0.03) 11%,rgba(188,230,216,0.03) 17%,rgba(102,205,170,0.16) 26%,rgba(205,221,219,1) 82%,rgba(221,223,227,1) 91%,rgba(245,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(245,246,246,0.03) 2%,rgba(245,246,246,0.03) 11%,rgba(188,230,216,0.03) 17%,rgba(102,205,170,0.16) 26%,rgba(205,221,219,1) 82%,rgba(221,223,227,1) 91%,rgba(245,246,246,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(245,246,246,0.03) 2%,rgba(245,246,246,0.03) 11%,rgba(188,230,216,0.03) 17%,rgba(102,205,170,0.16) 26%,rgba(205,221,219,1) 82%,rgba(221,223,227,1) 91%,rgba(245,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08f5f6f6', endColorstr='#f5f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


background: -moz-linear-gradient(-45deg,  rgba(245,246,246,0.03) 5%, rgba(245,246,246,0.03) 16%, rgba(245,246,246,0.05) 17%, rgba(102,205,170,0.28) 26%, rgba(189,233,218,1) 55%, rgba(255,255,255,1) 77%, rgba(245,246,246,1) 96%, rgba(245,246,246,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(5%,rgba(245,246,246,0.03)), color-stop(16%,rgba(245,246,246,0.03)), color-stop(17%,rgba(245,246,246,0.05)), color-stop(26%,rgba(102,205,170,0.28)), color-stop(55%,rgba(189,233,218,1)), color-stop(77%,rgba(255,255,255,1)), color-stop(96%,rgba(245,246,246,1)), color-stop(99%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(245,246,246,0.03) 5%,rgba(245,246,246,0.03) 16%,rgba(245,246,246,0.05) 17%,rgba(102,205,170,0.28) 26%,rgba(189,233,218,1) 55%,rgba(255,255,255,1) 77%,rgba(245,246,246,1) 96%,rgba(245,246,246,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(245,246,246,0.03) 5%,rgba(245,246,246,0.03) 16%,rgba(245,246,246,0.05) 17%,rgba(102,205,170,0.28) 26%,rgba(189,233,218,1) 55%,rgba(255,255,255,1) 77%,rgba(245,246,246,1) 96%,rgba(245,246,246,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(245,246,246,0.03) 5%,rgba(245,246,246,0.03) 16%,rgba(245,246,246,0.05) 17%,rgba(102,205,170,0.28) 26%,rgba(189,233,218,1) 55%,rgba(255,255,255,1) 77%,rgba(245,246,246,1) 96%,rgba(245,246,246,1) 99%); /* IE10+ */
background: linear-gradient(135deg,  rgba(245,246,246,0.03) 5%,rgba(245,246,246,0.03) 16%,rgba(245,246,246,0.05) 17%,rgba(102,205,170,0.28) 26%,rgba(189,233,218,1) 55%,rgba(255,255,255,1) 77%,rgba(245,246,246,1) 96%,rgba(245,246,246,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08f5f6f6', endColorstr='#f5f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}
h2{
	/*font-size: 100px;
	color: hotpink;
	font-family: sans-serif;
	text-align: center;
	letter-spacing: -3px;*/

	text-shadow: 10px 10px 10px darkgray;
	font-family: sans-serif;
	font-size: 125px;
	font-weight: 100;
	text-align: center;
	color: hotpink;
	display: block;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	margin:10px;
}
h3{
	font-size: 25px;
	color: mediumaquamarine;
	font-family: sans-serif;
	text-align: absolute;
	box-shadow: -8px 8px 3px #5D5268;
	text-shadow: 1px 1px 1px white;
	letter-spacing:1px;
	text-transform: uppercase;
	background: white;
	padding:3px;
	margin: 5px;
	line-height: 25px;
}

.blockquote{
		font: 14px/20px italic Times, serif;
	  padding: 8px;
	  background-color: #f8f8f8;
	  border-top: 1px solid #66CDAA;
	  border-bottom: 1px solid #66CDAA;
	  margin: 5px;
	  background-image: url();
	  background-position: top left;
	  background-repeat: no-repeat;
	  text-indent: 20px;
	  
}

.imgbody{
	float:left;
	width:200px;
	margin-right: 10px;
	border: 1px solid;
	border-color: hotpink;
	border-radius: 50%;
}

.imgbody2{
	float:right;
	width:200px;
	margin-left: 10px;
	border: 1px solid;
	border-color: hotpink;
	border-radius: 50%;
}
.imghero{
	/*text-align: center;*/
	display: block;
	margin-right: auto;
	margin-left: auto;

}
.links{
	font-size: 20px;
	color: #fff;
	font-family: sans-serif;
}
.list{
	font-size: 20px;
	color: #789788
}
a:hover{
	color:hotpink;
}

.bold{
	color:gray;
	font-size: 40px;
	font-family: sans-serif;
}

.italic{
	font-style: italic;
	font-family: sans-serif;
}	

.textcolor{
	color: mediumaquamarine;
}

.footer {
        clear:both;
        text-align: center;
        border-top: 5px;
        border: groove;
        border-width:  2px;
        border-color: darkgray;

}
